{% extends "layout.html" %}
   {% block content %} 
   <div class="text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages%}
            {%for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {%endfor%}
        {%endif%}
    {%endwith%}
</div>
    <div class="container">
       
<div class="container">
    <div class="col-md-6">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {%if messages%}
                {%for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {%endfor%}
            {%endif%}
        {%endwith%}
    </div>
    <div class="container my-5">
    <h2 style="text-align:center">Welcome to the Leap Card site Home! {{ current_user.email }}</h2> <br><br><br>
    {% if card %}
    <div class="my-5 d-flex align-items-center justify-content-around">
    <div class="card" style="width:20rem; ">
        <div class="card-body">
          <h5 class="card-title">View your card details here</h5>
          
          <button type="button" class="btn btn-outline-warning">
            <a style="text-decoration: none; color:#000" href ="{{ url_for('carddetails') }}">My Leap Card</a>
        </button>
        </div>
      </div>
      <div class="card d-flex justify-content-center align-items-center" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">I dont want to use leap card</h5>
          
          <button type="button" class="btn btn-outline-danger"><a  style="text-decoration: none; color:#000"href ="{{ url_for('deleteaccount') }}">Delete my Account</a></button>
        </div>
      </div>
    </div>
    {% else %}
    

    <h3>The Leap Card is a suitable way for transactions for transportations in Dublin and other areas.</h3>
    <div class="my-5 d-flex justify-content-center">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Apply for leap card here</h5>  <button type="button" class="btn btn-outline-primary"><a style="text-decoration: none; color:#000"href ="{{ url_for('apply') }}">Apply</a></button>
        </div>
    </div>
</div>
    {% endif %}
    </div>
<br><br><br><br><br><br><br><br>
<div class="card" style="width: 18rem;">
  <img src="static/s1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>

 {% endblock content %}
 <!-- JavaScript Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
 </div>